* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "MapleMono";
  font-size: 16px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 10px transparent;
  border-radius: 4px;
  transition-duration: 0.5s;
  margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: #6aa2a9;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 4px;
}

#workspaces button.focused {
  color: #ac9787;
}

#workspaces button.active {
  color: #a99e75;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-launcher
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,

#window,
#workspaces {
  margin: 0 4px;
  border-radius: 7.8px;
  background-color: transparent;
}

#cpu {
  color: #825a64;
  background-color: transparent;
}

#memory {
  color: #44665c;
  background-color: transparent;
}

#custom-power-menu {
  color: #8f4f56;
  border-radius: 9.5px;
  background-color: transparent;
  border-radius: 7.5px;
  padding: 0 0px;
}

#custom-launcher {
  background-color: transparent;
  color: #b0a072;
  border-radius: 7.5px;
  padding: 0 3px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #a77787;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}

#clock {
  color: #c8d2e0;
  /* background-color: #14141e; */
}

#battery {
  color: #c0caf5;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #6c7ca8;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #8c76a6;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: #576582;
  background-color: transparent;
}

#temperature.critical {
  background-color: #eb4d5b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#language {
  background: transparent;
  color: #826e5a;
  padding: 0 0px;
  margin: 0 0px;
  min-width: 0px;
  border-radius: 9.5px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}


#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#custom-swaync {
padding: 0 5px;
color: #5a827c;
background: transparent;
background-color: transparent;
border-radius: 7rem;
/*border-width: 2px;
 * border-style: solid;
 * border-color: @teal;*/
}


#mpris {
border-radius: 7rem;
color: rgba(255, 255, 255, 0.5);
background-color: transparent;
padding: 0 10px;
}

