*{
	all: unset;
	font-family: feather;
    font-family: MapleMono;
}


/** time **/
.hour_class {
    color: #bec8da;
    font-size: 62px;
    font-weight: bold;
    margin: 15px 0px 0px 10px;
}

.minute_class {
    color: #B48EAD;
    font-size: 54px;
    margin: 15px 10px 0px 15px;
}

.mer_class {
    color: #767c87;
    font-size: 22px;
    margin: 15px 0px 0px 0px;
}


.day_class {
    color: #767c88;
    font-size: 42px;
    margin: 0px 0px 10px 10px;
}

.month_class {
    color: #767c88;
    font-size: 38px;
    margin: 0px 10px 10px 10px;
}

.year_class {
    color: #767c88;
    font-size: 42px;
    margin: 0px 20px 10px 10px;
}


.time_sep_class {
    color: #bec8da;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}

.day_class_n {
    color: #767c88;
    font-size: 26px;
    margin: 0px 0px 5px 10px;
}

.month_class_n {
    color: #767c88;
    font-size: 22px;
    margin: 0px 0px 5px 0px;
}


/** music **/
.album_art {
    background-size: 200px;
    min-height: 200px;
    min-width: 200px;
    margin: 40px 15px;
    border-radius: 6px;
}

.song {
    color: #bec8da;
    font-size : 23px;
    font-weight : bold;
    margin : 40px 0px 0px 0px;
}

.artist {
    color: #767c88;
    font-size : 16px;
    font-weight : normal;
    margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
    font-family: "MapleMono";
}
.btn_prev {
    color: #767c88;
    font-size : 28px;
    font-weight : normal;
}
.btn_play {
    color: #B48EAD;
    font-size : 38px;
    font-weight : normal;
}
.btn_next {
    color: #767c88;
    font-size : 28px;
    font-weight : normal;
}

.music_bar scale trough highlight {
    all: unset;
    background-color: #bec8da;
    border-radius: 8px;
}
.music_bar scale trough {
    all: unset;
    background-color: #767c88;
    border-radius: 8px;
    min-height: 15px;
    min-width: 280px;
    margin : 5px 0px 0px 0px;
}
